:root {
    --light-gray: #D1D9E0;
    --mid-gray: #B2CBD7;
    --dark-gray: #A9B6C7;
    --dark-cyan: #44C5D8;
    --dark-blue: #1A375B;
    --pale-red: #FEEEE0;
    --nav-color: #E7E3E0;
    --pale-yellow: #FFFFE0;
    --bg-main: #c4f5db;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --blue: #0000ff;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: cursive;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    font-size: 0.8rem;
}

.todo {
    width: 60%;
    background-color: white;
    color: black;
    height: 3vh;
}

.new {
    list-style: none;
}

@media screen and (min-width:650px) {
    nav {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: max-content;
        height: 70vh;
        margin-top: 10vh;
        position: relative;
        width: 3.8%;
    }
    .nav-content {
        cursor: pointer;
        width: 100%;
        margin: auto;
        height: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fas {
        color: black;
        padding: 1rem 1rem;
    }
    .nav-content i:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
    .nav-content:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        border-radius: 50%;
        /*height: 4vh;*/
        width: 100%;
    }
    .vertical-navbar {
        height: max-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #user-img {
        width: 25%;
    }
    .search-bar {
        margin-right: auto;
        border: 1px solid var(--light-gray);
        margin-left: 10rem;
        margin-top: 1rem;
        display: flex;
    }
    .search-bar input {
        border: 0px;
        border-radius: 5%;
        background-color: white;
        width: 70%;
        height: 5vh
    }
    .search-bar input::placeholder {
        font-size: 0.7rem;
        text-align: center;
        font-family: monospace;
        color: black
    }
    .search-btn {
        display: grid;
        place-content: center;
        width: 23%;
        height: 5vh;
        background-color: whitesmoke;
    }
    .user-notifications {
        background-color: var(--pale-yellow);
        width: 25%;
        height: 30vh;
        position: relative;
        left: 73%;
        bottom: 70vh;
        border-radius: 5%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
    }
    .user-email-list {
        background-color: var(--pale-yellow);
        width: 25%;
        height: 30vh;
        position: relative;
        left: 73%;
        bottom: 65vh;
        border-radius: 5%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);
    }
    .mid-below-kanban-title {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 30vh;
        position: absolute;
        left: 15%;
        bottom: 55%;
        margin-bottom: auto;
    }
    .todoAdd {
        display: grid;
        place-content: center;
        width: 5%;
        height: 5vh;
        background-color: whitesmoke;
        position: absolute;
        left: 56%;
        bottom: 58%;
        background-color: rgb(49, 37, 37);
        color: white;
        font-size: 1rem;
    }
    #addTodo {
        position: absolute;
        left: 15%;
        bottom: 58%;
        border: 0px;
        border-bottom: 2px solid black;
        background-color: var(--light-gray);
        width: 40%;
        height: 5vh;
    }
    .disappear {
        display: none;
    }
    .calendar {
        height: max-content;
        width: max-content;
        background-color: var(--bg-main);
        border-radius: 5%;
        padding: 3vh;
        position: relative;
        overflow: hidden;
        box-shadow: var(--shadow);
        position: absolute;
        left: 73%;
        bottom: -59%;
    }
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5625rem;
        color: var(--color-txt);
        padding: 0.625rem;
    }
    .calendar-body {
        padding: 0.625rem;
    }
    .calendar-week-day {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
    }
    .calendar-week-day div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--bg-second);
    }
    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.125rem;
        color: var(--color-txt);
    }
    .calendar-days div {
        height: 11vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .year-picker {
        display: flex;
        justify-content: space-evenly;
    }
    #year {
        padding: 0rem 0.8rem;
    }
    .month-picker {
        margin: 0rem 5.3rem 0rem 0rem;
    }
    .month-picker:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
    pre:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
    .appear {
        display: block;
    }
}

@media only screen and (max-width: 650px) and (min-width:466px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .vertical-navbar {
        width: 100vw;
        display: flex;
        height: 20vh;
    }
    .user {
        width: 20vw;
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: space-evenly;
        height: 10vh;
    }
    #user-img {
        width: 50%;
        height: 10vh;
        display: none;
    }
    .user-name {
        margin: auto;
    }
    .search-bar {
        margin-top: auto;
        margin-bottom: auto;
        width: 30vw;
        height: 37.2px;
        padding: 0.5rem 0rem 0rem 0.3rem;
        display: flex;
        min-height: 37.2px;
        max-height: 37.2px;
    }
    .search-btn {
        display: grid;
        place-content: center;
        width: 10vw;
        height: 29px;
        background-color: whitesmoke;
        margin: auto;
        padding: 0.6rem;
        max-height: 37.3px;
    }
    .navbar {
        background-color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .user-notifications {
        background-color: var(--pale-yellow);
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        margin-bottom: 2rem;
    }
    .user-email-list {
        background-color: var(--pale-yellow);
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    }
    .mid-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mid-below-kanban-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    #addTodo {
        margin-left: 25%;
        border: 0px;
        width: 55%;
        border-bottom: 2px solid black;
        background-color: var(--light-gray);
    }
    .calendar {
        margin: auto;
        margin-top: 1rem;
        height: max-content;
        width: 80%;
        background-color: var(--bg-main);
        overflow-wrap: break-word;
    }
    .todoAdd {
        display: grid;
        place-content: center;
        width: 5%;
        height: 7vh;
        background-color: whitesmoke;
        background-color: rgb(49, 37, 37);
        color: white;
        font-size: 1rem;
        display: inline-block;
        margin: auto;
        text-align: center;
    }
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5625rem;
        color: var(--color-txt);
        padding: 0.625rem;
    }
    .calendar-body {
        padding: 0.625rem;
    }
    .calendar-week-day {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
    }
    .calendar-week-day div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--bg-second);
    }
    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.125rem;
        color: var(--color-txt);
        text-align: center;
    }
    .calendar-days div {
        height: 11vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .year-picker {
        display: flex;
        justify-content: space-evenly;
    }
    #year {
        padding: 0rem 0.8rem;
    }
    .month-picker {
        margin: 0rem 5.3rem 0rem 0rem;
    }
    .month-picker:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
    pre:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
}

@media screen and (max-width:466px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .vertical-navbar {
        width: 100vw;
        display: flex;
        height: 20vh;
    }
    .user {
        width: 20vw;
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: space-evenly;
        height: 10vh;
    }
    #user-img {
        width: 50%;
        height: 10vh;
        display: none;
    }
    .user-name {
        margin: auto;
    }
    .search-bar {
        margin-top: auto;
        margin-bottom: auto;
        width: 30vw;
        height: 37.2px;
        padding: 0.5rem 0rem 0rem 0.3rem;
        display: flex;
        min-height: 37.2px;
        max-height: 37.2px;
    }
    .search-btn {
        display: grid;
        place-content: center;
        width: 10vw;
        height: 29px;
        background-color: whitesmoke;
        margin: auto;
        padding: 0.6rem;
        max-height: 37.3px;
    }
    .navbar {
        background-color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .user-notifications {
        background-color: var(--pale-yellow);
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
        margin-bottom: 2rem;
    }
    .user-email-list {
        background-color: var(--pale-yellow);
        width: 50%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-radius: 5%;
    }
    .mid-above {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mid-below-kanban-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }
    #addTodo {
        margin-left: 25%;
        border: 0px;
        width: 80%;
        border-bottom: 2px solid black;
        background-color: var(--light-gray);
    }
    .todoAdd {
        display: grid;
        place-content: center;
        width: 20px;
        height: 7vh;
        background-color: whitesmoke;
        max-height: 28px;
        background-color: rgb(49, 37, 37);
        color: white;
        font-size: 1rem;
        margin-left: 1rem;
    }
    .calendar {
        margin: auto;
        margin-top: 1rem;
        height: max-content;
        width: 80%;
        background-color: var(--bg-main);
        overflow-wrap: break-word;
    }
    .calendar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5625rem;
        color: var(--color-txt);
        padding: 0.625rem;
    }
    .calendar-body {
        padding: 0.625rem;
    }
    .calendar-week-day {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-weight: 600;
    }
    .calendar-week-day div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--bg-second);
    }
    .calendar-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.125rem;
        color: var(--color-txt);
        text-align: center;
    }
    .calendar-days div {
        height: 11vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .year-picker {
        display: flex;
        justify-content: space-evenly;
    }
    #year {
        padding: 0rem 0.8rem;
    }
    .month-picker {
        margin: 0rem 5.3rem 0rem 0rem;
    }
    .month-picker:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
    pre:hover {
        background-color: var(--dark-hover);
        cursor: pointer;
    }
    .year-picker {
        display: none;
    }
    .input {
        display: flex;
    }
}